# Environments & Secrets
.env
.env.local
.env.*.local
.venv/
env/
venv/
ENV/

# Python Cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Local Databases
*.sqlite3
*.db

# Node dependencies & builds
node_modules/
dist/
dist-ssr/
*.local

# Django specific
portal/backend/staticfiles/
portal/backend/media/
db.sqlite3
db.sqlite3-journal

# OS files
.DS_Store
Thumbs.db
